<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.codeasylums.myself">

    <application
        android:allowBackup="true"
        android:icon="@drawable/bat1"
        android:label="Rajat Jain"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="Rajatopedia"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".Main2Activity">
        </activity>
        <activity android:name=".Main3Activity">
        </activity>
        <activity android:name=".Main4Activity">
        </activity>
        <activity android:name=".Main5Activity">
        </activity>
        <activity android:name=".Main6Activity">
        </activity>
        <activity android:name=".Main7Activity">
        </activity>
        <activity android:name=".Main8Activity">
        </activity>
    </application>

</manifest>